<section class="section landing-believe">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="no-transform text-center">Во что мы верим?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="landing-believe_one">
                    <div class="landing-believe_one-inside">
                        <p class="landing-believe_step"><span class="red">01</span> <span class="all">06</span></p>
                        <p class="title-row">В математику и информатику.</p>
                        <p class="landing-believe_text">Сегодня будущее маркетинга за Data Science. Все мы уже давно научились собирать сотни терабайт информации о нашем клиенте, пришло время научится эффективно использовать эту информацию для вывода продаж на качественно новый уровень с помощью предсказательных моделей.</p>
                        <a href="javascript:void(0);" class="more more-believe">подробнее <i class="fas fa-long-arrow-alt-down"></i></a>
                        <a href="javascript:void(0);" class="more close-believe hide">скрыть <i class="fas fa-long-arrow-alt-up"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="landing-believe_one">
                    <div class="landing-believe_one-inside">
                        <p class="landing-believe_step"><span class="red">02</span> <span class="all">06</span></p>
                        <p class="title-row">В Digitization</p>
                        <p class="landing-believe_text">Буквально все бизнес-направления, от выдачи потребительских кредитов до государственных закупок, уже</p>
                        <a href="javascript:void(0);" class="more more-believe">подробнее <i class="fas fa-long-arrow-alt-down"></i></a>
                        <a href="javascript:void(0);" class="more close-believe hide">скрыть <i class="fas fa-long-arrow-alt-up"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="landing-believe_one">
                    <div class="landing-believe_one-inside">
                        <p class="landing-believe_step"><span class="red">03</span> <span class="all">06</span></p>
                        <p class="title-row">В закат авторитарного стиля управления </p>
                        <p class="landing-believe_text">Сегодня динамика трансформаций и количество процессов на предприятиях выросло настолько, что</p>
                        <a href="javascript:void(0);" class="more more-believe">подробнее <i class="fas fa-long-arrow-alt-down"></i></a>
                        <a href="javascript:void(0);" class="more close-believe hide">скрыть <i class="fas fa-long-arrow-alt-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="landing-believe_one">
                    <div class="landing-believe_one-inside">
                        <p class="landing-believe_step"><span class="red">04</span> <span class="all">06</span></p>
                        <p class="title-row">В вытеснение корпоративных иерархий</p>
                        <p class="landing-believe_text">Четкая, полувоенная система корпоративной иерархии не способна адаптировать трансформации,</p>
                        <a href="javascript:void(0);" class="more more-believe">подробнее <i class="fas fa-long-arrow-alt-down"></i></a>
                        <a href="javascript:void(0);" class="more close-believe hide">скрыть <i class="fas fa-long-arrow-alt-up"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="landing-believe_one">
                    <div class="landing-believe_one-inside">
                        <p class="landing-believe_step"><span class="red">05</span> <span class="all">06</span></p>
                        <p class="title-row">В силу командного духа</p>
                        <p class="landing-believe_text">Традиционная субординация малоэффективна, поскольку современные проблемы слишком</p>
                        <a href="javascript:void(0);" class="more more-believe">подробнее <i class="fas fa-long-arrow-alt-down"></i></a>
                        <a href="javascript:void(0);" class="more close-believe hide">скрыть <i class="fas fa-long-arrow-alt-up"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="landing-believe_one">
                    <div class="landing-believe_one-inside">
                        <p class="landing-believe_step"><span class="red">06</span> <span class="all">06</span></p>
                        <p class="title-row">В неизбежность изменений</p>
                        <p class="landing-believe_text">Все меняется быстрее, чем мы себе представляем. Сейчас все трудней прогнозировать будущие события, для</p>
                        <a href="javascript:void(0);" class="more more-believe">подробнее <i class="fas fa-long-arrow-alt-down"></i></a>
                        <a href="javascript:void(0);" class="more close-believe hide">скрыть <i class="fas fa-long-arrow-alt-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>