<footer class="footer">
    <div class="container container-small">
        <div class="row">
            <div class="col-sm-8">
                <div class="footer-left">
                    <p class="footer-title">Свяжитесь с нами</p>
                    <address class="footer-address">
                        <ul>
                            <li><a href="tel:+380503949524">+380 50 3949524</a></li>
                            <li><a href="mailto:hello@huspi.com">hello@huspi.com</a></li>
                        </ul>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </address>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="footer-right">
                    <p class="footer-title">Офис</p>
                    <address class="footer-address">
                        Киев, ул. Заречная 1Б
                    </address>
                    <a href="#" class="btn btn-white">открыть карту</a>
                </div>
            </div>
        </div>
    </div>
</footer>