<section class="section landing-why">
    <div class="container container-small">
        <div class="row">
            <div class="col-md-12">
                <h2 class="no-transform text-center">Почему Huspi?</h2>
                <p class="title-row">Фундаментальный подход</p>
            </div>
            <div class="col-md-6">
                <p class="landing-why_intro">В принятии решение мы руководствуемся реальными цифрами, полученными с помощью новейших математических аппаратов. Никто кроме нас еще не делал на рынке ничего подобного, ведь у нас в руках намного более мощные аналитические инструменты, позволяющие генерировать ряд неоспоримых преимуществ.</p>
            </div>
            <div class="col-md-6 landing-why_list">
                <div class="landing-why_item open">
                    <span class="landing-why_number">1</span>
                    <p class="landing-why_row">Глубинное исследование деятельности Клиента, анализ процессов, информационных потоков и операционных рисков.</p>
                    <a href="javascript:void(0);" class="more more-open">подробнее <i class="fas fa-long-arrow-alt-down"></i></a>
                    <div class="hidden-block hide">
                        <p>Это позволяет нам безошибочно идентифицировать ключевые точки «боли», операционные и информационные риски. Таким образом, мы выступаем не просто в роли наблюдателя со стороны, мы по сути становимся практически сотрудником клиента, видим, как работает Ваш бизнес и понимаем, какие изменения необходимо совершить для максимально быстрого эффекта.</p>
                        <a href="javascript:void(0);" class="more more-close">Скрыть <i class="fas fa-long-arrow-alt-up"></i></a>
                    </div>
                </div>
                <div class="landing-why_item">
                    <span class="landing-why_number">2</span>
                    <p class="landing-why_row">Полное вовлеченность в процесс изменений, четкая постановка целей и прогноз ожиданий Клиента.</p>
                    <a href="javascript:void(0);" class="more more-open">подробнее <i class="fas fa-long-arrow-alt-down"></i></a>
                </div>
                <div class="landing-why_item">
                    <span class="landing-why_number">3</span>
                    <p class="landing-why_row">Детальное планирование действий и использование гибких методологий управления проектами.</p>
                    <a href="javascript:void(0);" class="more more-open">подробнее <i class="fas fa-long-arrow-alt-down"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>