<section id="business" class="section landing-business">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>БИЗНЕС-КЕЙСЫ</h2>
            </div>
            <div class="col-md-6">
                <div class="landing-business_one">
                    <figure class="landing-business_pic no-margin"><img src="assets/img/bcases/bcase2.png"></figure>
                    <div class="landing-business_info">
                        <div class="landing-business_content">
                            <p class="landing-business_name">Мирс.<br>E-commerce</p>
                            <p class="landing-business_text">Дистрибьютор товаров премиум-сегмента мировых брендов для кухни и HORECa</p>
                            <a href="#businessModal" class="btn" data-toggle="modal" role="button">подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="landing-business_one">
                    <figure class="landing-business_pic no-margin"><img src="assets/img/bcases/bcase2.png"></figure>
                    <div class="landing-business_info">
                        <div class="landing-business_content">
                            <p class="landing-business_name">Мирс.<br>E-commerce</p>
                            <p class="landing-business_text">Дистрибьютор товаров премиум-сегмента мировых брендов для кухни и HORECa</p>
                            <a href="#businessModal" class="btn" data-toggle="modal" role="button">подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="landing-business_one">
                    <figure class="landing-business_pic no-margin"><img src="assets/img/bcases/bcase3.png"></figure>
                    <div class="landing-business_info">
                        <div class="landing-business_content">
                            <p class="landing-business_name">Мирс.<br>E-commerce</p>
                            <p class="landing-business_text">Дистрибьютор товаров премиум-сегмента мировых брендов для кухни и HORECa</p>
                            <a href="#businessModal" class="btn" data-toggle="modal" role="button">подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="landing-business_one">
                    <figure class="landing-business_pic no-margin"><img src="assets/img/bcases/bcase4.png"></figure>
                    <div class="landing-business_info">
                        <div class="landing-business_content">
                            <p class="landing-business_name">Мирс.<br>E-commerce</p>
                            <p class="landing-business_text">Дистрибьютор товаров премиум-сегмента мировых брендов для кухни и HORECa</p>
                            <a href="#businessModal" class="btn" data-toggle="modal" role="button">подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>