<div class="modal fade modal-business" id="businessModal">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container container-small">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="modal-title text-uppercase">Easy Pay</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container container-small">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="modal-subtitle">Кто они?</p>
                            <article class="modal-business_row">Одна из крупнейших в Украине электронных систем приема платежей, как через онлайн-канал (сайт, мобильные приложения, моментальные платежи в интернете) так и офлайн, через более чем 8500 финансовых киосков. Задача заключалась в реорганизации процессов и команды ввиду перехода на новый уровень развития.</article>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p class="modal-subtitle">Зачем нужны были изменения?</p>
                            <div class="modal-business_column">На протяжении многих лет компания развивалась в формате небольшого стартапа с неизменной командой, лидируя при этом в своем сегменте. Тем не менее со временем компания замерла в точке стагнации, а после этого и вовсе начала терять позиции на рынке. В результате коллектив компании утратил основной вектор концентрации, распыляясь над большим количеством проектов одновременно. Аналитика процессов отсутствовала, ответственность между сотрудниками разделялась хаотично, по принципу «кто сейчас свободен». Операционная часть бизнеса практически вытеснила коммерческую.</div>
                        </div>
                        <div class="col-md-6">
                            <p class="modal-subtitle">Решения:</p>
                            <ul class="border-list">
                                <li style="">Реорганизованы: отдел разработки ПО, проектный офис, отдел маркетинга, отдел BI мониторинга;</li>
                                <li>Осуществлен переход на гибкую методологию управления проектами – Scrum;</li>
                                <li>Разработан и запущен обновлённый финансовый маркет-плейс на базе Web и мобильных приложений, позволяя компании существенно улучшить управление каналами взаимодействия с клиентами;</li>
                                <li>Оптимизирован канал коммуникации с партнерами путем создания личных кабинетов в системе;</li>
                                <li>С помощью BI инструментов созданы онлайн-системы мониторинга технических и бизнес-показателей.</li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <h5>Результаты:</h5>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="modal-cell">
                                <div class="modal-cell_block">
                                    <span class="number">х5,4</span>
                                    Увеличена валовая прибыль направления «онлайн» в 5.4 раза.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="modal-cell">
                                <div class="modal-cell_block">
                                    <span class="number">х4,7</span>
                                    Эффективность отдела разработки ПО возросла в 4.7 раза.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="modal-cell">
                                <div class="modal-cell_block">
                                    <span class="number">+20%</span>
                                    Удовлетворённость сотрудничеством среди партнеров улучшилась на 20%.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="modal-cell">
                                <div class="modal-cell_block">
                                    <span class="number">+7%</span>
                                    Среднемесячный прирост пользователей системы выведен на уровне +7%.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="modal-cell">
                                <div class="modal-cell_block">
                                    <span class="number">х2</span>
                                    Конверсия обновленного маркет-плейса выросла больше чем вдвое.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a href="https://easypay.ua/" class="btn btn-blue" target="_blank">перейти на сайт</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" target="_blank">Следующий <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</div>