<section id="about" class="section landing-about">
    <div class="container container-small">
        <div class="row">
            <div class="col-md-12">
                <h2>О КОМПАНИИ</h2>
                <p class="subtitle-row">Кто мы?</p>
                <p class="title-row">Мы - единственные на рынке Украины, кто уже смог достичь позитивных результатов в диджитал-трансформации крупных компаний.</p>
            </div>
            <div class="col-md-6">
                <article>Мы знаем, как зарабатывать больше и при этом не терпеть убытки из-за потери или некорректной обработки информации. Наш главный товар -  это полностью готовый, функционирующий продукт, а не табличный отчет о том, как вам следует экономить.</article>
            </div>
            <div class="col-md-6">
                <article>Иными словами, под понятием «Digitization» мы представляем себе использование современных цифровых технологий для улучшения показателей компании, в частности, увеличения прибыли.</article>
            </div>
            <div class="col-md-12">
                <article class="landing-about_big">
                    <p class="subtitle-row bold">Digitization</p>
                    <p>Как это работает?</p>

                    <article class="steps">
                        <div class="steps-one">
                            <span class="steps-one_number">1</span>
                            <p class="title-row">«Анализ крови»</p>
                            <p class="steps-one_text">Здесь мы определяем текущее состояние компании в виде аудита и среза потока данных посредством анализа и общения с сотрудниками.</p>
                            <a href="javascript:void(0);" class="more more-open">Подробнее<i class="fas fa-long-arrow-alt-down"></i></a>
                            <div class="hidden-block hide">
                                <p>Здесь же формируется проектная команда, работающая над трансформацией объекта. Основу команды составляют сотрудники компании и мы. При необходимости привлекается дополнительный персонал, его численность зависит от глубины и сложности проекта. Стоит отметить, что нередко на данном этапе владелец получает сведения о несоответствии некоторых сотрудников занимаемым должностям. В отдельных случаях, ввиду масштабности разработки технических решений для своевременной реализации проекта может быть задействована помощь третьих компаний на тендерной основе.</p>
                                <a href="javascript:void(0);" class="more more-close">Скрыть<i class="fas fa-long-arrow-alt-up"></i></a>
                            </div>
                        </div>
                        <div class="steps-one">
                            <span class="steps-one_number">2</span>
                            <p class="title-row">«Внедрение»</p>
                            <p class="steps-one_text">В широком понимании этот блок включает непосредственное техническое внедрение информационных систем. </p>
                            <a href="javascript:void(0);" class="more more-open">Подробнее <i class="fas fa-long-arrow-alt-down"></i></a>
                            <div class="hidden-block hide">
                                <p>Здесь же формируется проектная команда, работающая над трансформацией объекта. Основу команды составляют сотрудники компании и мы. При необходимости привлекается дополнительный персонал, его численность зависит от глубины и сложности проекта. Стоит отметить, что нередко на данном этапе владелец получает сведения о несоответствии некоторых сотрудников занимаемым должностям. В отдельных случаях, ввиду масштабности разработки технических решений для своевременной реализации проекта может быть задействована помощь третьих компаний на тендерной основе.</p>
                                <a href="javascript:void(0);" class="more more-close">Скрыть <i class="fas fa-long-arrow-alt-up"></i></a>
                            </div>
                        </div>
                        <div class="steps-one">
                            <span class="steps-one_number">3</span>
                            <p class="title-row">«Обучение»</p>
                            <p class="steps-one_text">Этот этап самый сложный, поскольку здесь задействованы все сотрудники компании, работа которых так или иначе будет соприкасаться с результатами digital-трансформации.</p>
                            <a href="javascript:void(0);" class="more more-open">Подробнее <i class="fas fa-long-arrow-alt-down"></i></a>
                        </div>
                        <div class="steps-one">
                            <span class="steps-one_number">4</span>
                            <p class="title-row">«Непрерывный контроль»</p>
                            <p class="steps-one_text">Контроль за функционированием системы и ее усовершенствование осуществляет новая проектная команда, таким образом, на этом этапе компания начинает работать самостоятельно. </p>
                            <a href="javascript:void(0);" class="more more-open">Подробнее <i class="fas fa-long-arrow-alt-down"></i></a>
                        </div>
                    </article>

                    <article class="border-block-red result">
                        <p class="result-title">Что в итоге получаете вы?</p>
                        <ul class="no-margin">
                            <li>- аналитические инструменты и готовые шаблоны решений для оценки показателей вашего бизнеса;</li>
                            <li>- новые интегрированные и функциональные информационные системы;</li>
                            <li>- проектную команду внутри компании, которая с легкостью будет выполнять аналитические задачи и поддерживать работу установленных решений.</li>
                        </ul>
                    </article>
                </article>
            </div>
        </div>
    </div>
</section>
