<nav class="navbar navbar-expand-md menu-container">
    <div class="container">
        <a (click)="goHome($event)" class="logo-menu pointer"><img src="assets/img/logo.png"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#white">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <nav id="white" class="menu collapse navbar-collapse">
            <ul class="navbar-nav">
                <li><a href="#about">о компании</a></li>
                <li><a href="#business">бизнес-кейсы</a></li>
                <li><a href="#services">услуги</a></li>
                <li><a href="#contacts">контакты</a></li>
            </ul>
            <a href="StartAProject.html" class="btn btn-start">начать сотрудничество</a>
        </nav>
    </div>
</nav>