<section class="landing-service_blocks position-relative">
    <span class="bg-opacity hide"></span>
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-6 position-static">
                <div class="landing-service_h-one">
                    <div class="landing-service_h-one_inside">
                        <span class="landing-service_icon"><img src="assets/img/ic/ic_26.png"></span>
                        <p class="title-row">Аудит в области информационных технологий </p>
                        <div class="landing-service_start">В зависимости от целей, поставленных перед исполнителями проекта, имеющихся систем и технических средств, наши специалисты проводят</div>
                        <a href="javascript:void(0);" class="more more-service">подробнее</a>
                    </div>
                </div>
                <div class="landing-service_popup hide">
                    <div class="landing-service_h-one_inside">
                        <span class="landing-service_icon"><img src="assets/img/ic/ic_26.png"></span>
                        <p class="title-row">Аудит в области информационных технологий </p>
                        <div class="landing-service_start">
                            <p>В зависимости от целей, поставленных перед исполнителями проекта, имеющихся систем и технических средств, наши специалисты проводят детальный аудит в интересующей области. Результаты аудита позволяют оценить степень соответствия ИТ-систем потребностям бизнеса, эффективность и обоснованность вложений в ИТ, достаточность ресурсного обеспечения и т.д.</p>
                            Наш подход к организации и проведению аудита базируется на использовании признанных международных требований или стандартов общего назначения (Cobit).
                        </div>
                        <a href="javascript:void(0);" class="more close-service">скрыть</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 position-static">
                <div class="landing-service_h-one">
                    <div class="landing-service_h-one_inside">
                        <span class="landing-service_icon"><img src="assets/img/ic/ic_7.png"></span>
                        <p class="title-row">Разработка стратегии развития ИТ</p>
                        <p class="landing-service_start">Осуществляется разработка рекомендаций по направлениям развития существующей ИТ-системы на заданном горизонте</p>
                        <a href="javascript:void(0);" class="more more-service">подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 position-static">
                <div class="landing-service_h-one">
                    <div class="landing-service_h-one_inside">
                        <span class="landing-service_icon"><img src="assets/img/ic/ic_13.png"></span>
                        <p class="title-row">Оценка эффективности использования корпоративных инфо-ных систем </p>
                        <p class="landing-service_start">Оценка текущего уровня инвестиций и обеспечение управляемости ИТ-структуры. На данном этапе проводится аудит текущего уровня ИТ</p>
                        <a href="javascript:void(0);" class="more more-service">подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 position-static">
                <div class="landing-service_h-one">
                    <div class="landing-service_h-one_inside">
                        <span class="landing-service_icon"><img src="assets/img/ic/ic_15.png"></span>
                        <p class="title-row">Разработка стратегии развития ИТ</p>
                        <p class="landing-service_start">Четкое понимание существующего состояния и потенциальных потребностей системы управления ИТ позволяет определять</p>
                        <a href="javascript:void(0);" class="more more-service">подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row position-relative">
            <div class="col-lg-4 position-static">
                <div class="landing-service_v-one">
                    <div class="landing-service_v-one_inside">
                        <span class="landing-service_icon"><img src="assets/img/ic/ic_4.png"></span>
                        <p class="title-row">Проектная работа</p>
                        <p class="landing-service_start">Суть услуги заключается в выполнении проекта внедрения, включая анализ ситуации на предприятии, выбор оптимальной методики</p>
                        <a href="javascript:void(0);" class="more more-service">подробнее</a>
                    </div>
                </div>
                <div class="landing-service_popup hide">
                    <div class="landing-service_h-one_inside">
                        <span class="landing-service_icon"><img src="assets/img/ic/ic_4.png"></span>
                        <p class="title-row">Проектная работа</p>
                        <div class="landing-service_start">
                            <p>Суть услуги заключается в выполнении проекта внедрения, включая анализ ситуации на предприятии, выбор оптимальной методики</p>
                            Наш подход к организации и проведению аудита базируется на использовании признанных международных требований или стандартов общего назначения (Cobit).
                        </div>
                        <a href="javascript:void(0);" class="more close-service">скрыть</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 position-static">
                <div class="landing-service_v-one">
                    <div class="landing-service_v-one_inside">
                        <span class="landing-service_icon"><img src="assets/img/ic/ic_6.png"></span>
                        <p class="title-row">Аудит и внедрение систем класса CRM </p>
                        <p class="landing-service_start">В процессе своего развития каждая компания достигает этапа, когда конкурентная среда требует пересмотра традиционного подхода к</p>
                        <a href="javascript:void(0);" class="more">подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 position-static">
                <div class="landing-service_v-one">
                    <div class="landing-service_v-one_inside">
                        <span class="landing-service_icon"><img src="assets/img/ic/ic_2.png"></span>
                        <p class="title-row">Бизнес-консалтинг (Операционный консалтинг) </p>
                        <p class="landing-service_start">Для руководителей, владельцев, топ-менеджеров в процессе развития</p>
                        <a href="javascript:void(0);" class="more">подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>