<section class="section landing-experience">
    <div class="container container-small">
        <div class="row">
            <div class="col-md-12">
                <h2>Отраслевый опыт</h2>
                <p class="landing-experience_slogan">Мир не стоит на месте и реализуя проекты для наших клиентов, мы тоже учимся не переставая, для того, чтобы каждый наш следующий продукт был более оригинальным, прибыльным и функциональным.</p>
            </div>
            <div class="col-md-6">
                <p>Держа руку на пульсе последних трендов применения ИТ-решений на мировых рынках, мы преуспели в разработке и внедрении оригинальных цифровых концепций в таких отраслях как:</p>
                <ul class="border-list no-margin">
                    <li>Экономика совместного потребления (share economy)</li>
                    <li>ФинТех</li>
                    <li>Геймификация</li>
                    <li>Информационные технологии в медицине</li>
                    <li>сектор розничной онлайн-торговли продуктами питания (food e-commerce). </li>
                </ul>
            </div>
            <div class="col-md-6">
                <p class="landing-experience_text">Многолетний опыт практической работы наших экспертов и сотрудников в данных секторах, мощная научно-исследовательская подоплека в лице ряда специалистов с научной степенью кандидата математических наук, активная внутренняя бизнес-мотивация каждого из нас улучшать мир с помощью инновационных подходов, эксклюзивное видение проектов каждого из наших клиентов позволяют нам претендовать на стойкие позиции на рынке сегодня и прогнозировать динамическое развитие в будущем.</p>
                <a href="javascript:void(0);" class="more">подробнее</a>
            </div>
        </div>
    </div>
</section>