<main class="main-section">
    <video autoplay loop id="video-background" muted plays-inline>
        <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761" type="video/mp4">
    </video>

    <section class="landing-main">
        <div class="container container-small">
            <div class="row">
                <div class="col-md-12">
                    <h1>Что такое диджитал-трансформация (Digitization)?</h1>
                    <p class="landing-main_h3">Это все те же новые инструменты, успевшие зарекомендовать себя на рынке, такие как Big Data, Data Science, Internet of Things, Digital Marketing, Business Intelligence, а точнее, их реальное применение в конкретной отрасли. </p>
                </div>
                <div class="col-md-6">
                    <article class="landing-main_column">
                        Но прежде всего это изменение подхода к работе, оптимизация бизнес-процессов посредством интернет-технологий, а главное – трансформация способа мышления сотрудников компании. И это, конечно, не панацея.
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="landing-main_column">
                        Как и в случае с любыми другими инструментами наподобие BI, SCRUM и СRM, если их использовать неправильно, кроме головной боли и роста бюджета они, увы, больше ничего вам не принесут.
                    </article>
                </div>
                <div class="col-md-8">
                    <p class="landing-main_slogan">Чтобы технологии приносили пользу, недостаточно их просто купить, гораздо важнее научиться ими пользоваться.</p>
                </div>
            </div>
        </div>
    </section>
</main>