<div class="modal fade modal-personal" id="teamModal">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container border-container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="modal-personal_left">
                            <figure class="landing-team_photo"><img src="assets/img/photo.png" title="Лапко Александр"></figure>
                            <p class="landing-team_name">Лапко Александр</p>
                            <p class="landing-team_position">Операционный директор по разработке программного обеспечения с болеем чем 10-тилетним опытом в IT и предпринимательской страстью к запуску новых продуктов.</p>
                        </div>
                    </div>
                    <div class="col-md-6 modal-personal_right">
                        <article class="personal-main">
                            Александр имеет обширный опыт в создании и реализации алгоритмов оптимизации, запуске новых бизнес-линий и инноваций в продуктах. Успешно возглавлял команды разработчиковдо 50 человек, в том числе и технические кросс-функциональные команды. Создавал продукты с нуля с бюджетом в 200 тыс. дол. Работал на ранних стадиях в трех стартапах в мобильной, в еб и высокотехнологических сферах. Высокая продуктивность: выигрывал лидерские и предпринимательские награды, выпускник с лушим баллом, кандидат математических наук. Сейчас специализируется на разработке прототипов и концепций будущих продуктов.
                        </article>
                        <p class="bold">Сферы деятельности</p>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="border-list">
                                    <li>Экономика общего потребления (Share Economy)</li>
                                    <li>ФинТех</li>
                                    <li>Геймификация</li>
                                    <li>Информационные технологии в медицине (MedTech)</li>
                                    <li>FoodTech</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="border-list">
                                    <li>Agile</li>
                                    <li>Scrum</li>
                                    <li>E-commerce экономика совместного потребления (share economy)</li>
                                    <li>Розничная онлайн-торговля, в том числе продуктами питания (e-commerce)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>