<a href="StartAProject.html" class="btn btn-start btn-start-fixed">начать сотрудничество</a>

<app-nav></app-nav>

<app-main-section></app-main-section>

<app-landing-about></app-landing-about>

<app-landing-business></app-landing-business>

<app-landing-team></app-landing-team>

<app-landing-service></app-landing-service>

<app-landing-service-blocks></app-landing-service-blocks>

<app-landing-reviews></app-landing-reviews>

<app-landing-why></app-landing-why>

<app-landing-believe></app-landing-believe>

<app-landing-offers></app-landing-offers>

<app-landing-experience></app-landing-experience>

<app-landing-categories></app-landing-categories>

<app-landing-digital></app-landing-digital>

<app-landing-contacts></app-landing-contacts>

<app-footer></app-footer>

<app-business></app-business>
<app-team></app-team>
