<section class="landing-digital">
    <div class="container container-small">
        <div class="row">
            <div class="col-md-12">
                <h2>Диджитизация</h2>
            </div>
            <div class="col-md-6">
                <p class="landing-digital_slogan"><span class="reg">Диджитизация</span> – это оцифровка различных видов информации, которая позволяет обрабатывать большие объёмы данных и, как следствие, упрощать и ускорять работу бизнеса, а именно максимально эффективно и быстро отвечать на запросы клиентов, оптимизировать и делать более гибкими процессы управления.</p>
                <a href="javascript:void(0);" class="more more-open">Подробнее <i class="fas fa-long-arrow-alt-down"></i></a>
                <div class="black hidden-block hide">
                    <p>Например, накладывая данные о местоположении на информацию о поисковых запросах, можно определить предпочтения клиента, что в свою очередь позволяет сформулировать наиболее релевантное и индивидуализированное предложение.</p>
                    <p>Диджитализация зарекомендовала себя как весьма эффективный инструмент и нужно уже сейчас задуматься о возможностях использования ее в своем бизнесе, так как наступило время нового типа конкуренции, основанного на доступе к современным цифровым технологиям.</p>
                    <p>Начало положено – большинство представителей бизнеса уже начали оцифровывать информацию своих компаний.</p>
                    <p class="reg">Перед ними теперь стоят две задачи:</p>
                    <ul>
                        <li>1. Как собрать больше информации о клиентах?</li>
                        <li>2.Как эти данные корректно анализировать и извлекать из них пользу?</li>
                    </ul>
                    <p>Мы будем прикладывать максимум усилий, помогая бизнесу выйти на новый уровень освоения технологий, делая его максимально эффективным и конкурентным.</p>
                    <a href="javascript:void(0);" class="more more-close">Скрыть <i class="fas fa-long-arrow-alt-up"></i></a>
                </div>
            </div>
            <div class="col-md-6">
                <p class="title">Наши основные инструменты:</p>
                <ul class="border-list no-margin">
                    <li>Применение облачных технологий</li>
                    <li>Развитие индустриального Интер- и Интранета</li>
                    <li>BI-решения, позволяющие осуществлять стратегический анализ данных для прогнозирования и планирования будущих показателей бизнеса и поддержки процесса принятия управленческих решений в компании</li>
                    <li>ERP-системы</li>
                </ul>
            </div>
        </div>
    </div>
</section>