<section class="landing-categories">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 position-static">
                <div class="landing-categories_one">
                    <p class="title-row">Финтех</p>
                    <p class="landing-categories_text">Мы занимаемся разработкой, дизайном и внедрением современных цифровых финансовых продуктов, помогаем Клиентам выстраивать финансовую модель бизнеса для онлайн-направления.</p>
                    <a href="javascript:void(0);" class="more more-popup">подробнее</a>
                </div>
                <div class="landing-categories_one-big hide">
                    <span class="close-small"><i class="fa fa-times"></i></span>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="title-row">Финтех</p>
                        </div>
                        <div class="col-md-6">
                            <article class="landing-categories_one-big_left">
                                <p>Наша команда располагает не только обширным опытом в IT, но и фундаментальным пониманием специфики финансовой отрасли, так как наши сотрудники долгое время работали в ведущих банках Украины и мира.</p>
                                Полноценное присутствие в интернете стало “must have” для компаний в банковской и финансовой сфере. В развитых странах (например, в США) уже более 50% владельцев смартфонов пользуется мобильным банкингом и еще 10-15% планируют начать использовать финансовые мобильные приложения в течение ближайших 12 месяцев. Также, практически любой бизнес, который всерьез задумывается о присутствии в онлайн-формате, требует интеграции своей учетной системы с финансовыми (например, платежными) сервисами, CRM и другими внешними платформами.
                            </article>
                        </div>
                        <div class="col-md-6">
                            <article class="landing-categories_one-big_right">
                                <p class="reg">Мы имеем огромный опыт в:</p>
                                <ul class="border-list no-margin">
                                    <li>Разработке финансовых продуктов с нуля</li>
                                    <li>Решениях для обработки большого объема неструктурированных данных</li>
                                    <li>Интеграции бизнеса с платежными сервисами и другими внешними платформами</li>
                                    <li>Маркетинговых и технологических исследованиях финансовых и банковских трендов</li>
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 position-static">
                <div class="landing-categories_one">
                    <p class="title-row">Розница</p>
                    <p class="landing-categories_text">За последние несколько лет мы активно участвовали в реорганизации сети магазинов потребительских товаров, запускали большие е-commerce проекты по продаже бытовой техники.</p>
                    <a href="javascript:void(0);" class="more">подробнее</a>
                </div>
            </div>
            <div class="col-lg-4 position-static">
                <div class="landing-categories_one">
                    <p class="title-row">Стартапы</p>
                    <p class="landing-categories_text">За последние несколько лет мы активно участвовали в реорганизации сети магазинов потребительских товаров, запускали большие е-commerce проекты по продаже бытовой техники.</p>
                </div>
            </div>
        </div>
    </div>
</section>