<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="border-block-red landing-offer">
                    <p class="landing-offer_title text-center">В плане организации взаимодействия с внешними поставщиками мы предлагаем: </p>
                    <ul class="no-margin">
                        <li><span class="bold">1.</span> Проведение всех подготовительных работ по поиску оптимального решения и его поставщика посредством анализа рынка, требований, практик, а также организацию прозрачных тендеров с необходимым документальным сопровождением.</li>
                        <li><span class="bold">2.</span> Выполнение функций связующего звена между бизнес-заказчиком и исполнителями, как внешними, так и внутренними, с целью формирования единого центра управления и отчетности о проектных работах.</li>
                        <li><span class="bold">3.</span> Выступаем в роли проектного менеджера и/или аналитика на стороне клиента в сложных или объемных проектах.</li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
</section>