<section class="section landing-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>КОМАНДА</h2>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="landing-team_item">
                    <figure class="landing-team_photo"><a href="#teamModal" data-toggle="modal" role="button"><img src="assets/img/photo.png" title="Лапко Андрей"></a></figure>
                    <p class="landing-team_name">Лапко Андрей</p>
                    <p class="landing-team_position">Исполнительный директор</p>
                    <a href="#teamModal" class="btn btn-red" data-toggle="modal" role="button">подробнее</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="landing-team_item">
                    <figure class="landing-team_photo"><a href="#teamModal" data-toggle="modal" role="button"><img src="assets/img/photo.png" title="Провотар Ольга"></a></figure>
                    <p class="landing-team_name">Провотар Ольга</p>
                    <p class="landing-team_position">Менеджер ИТ проектов</p>
                    <a href="#teamModal" class="btn btn-red" data-toggle="modal" role="button">подробнее</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="landing-team_item">
                    <figure class="landing-team_photo"><a href="#teamModal" data-toggle="modal" role="button"><img src="assets/img/photo.png" title="Лапко Александр"></a></figure>
                    <p class="landing-team_name">Лапко Александр</p>
                    <p class="landing-team_position">Операционный директор</p>
                    <a href="#teamModal" class="btn btn-red" data-toggle="modal" role="button">подробнее</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="landing-team_item">
                    <figure class="landing-team_photo"><a href="#teamModal" data-toggle="modal" role="button"><img src="assets/img/photo.png" title="Музыка Олег"></a></figure>
                    <p class="landing-team_name">Музыка Олег</p>
                    <p class="landing-team_position">Специалист по оптимизации</p>
                    <a href="#teamModal" class="btn btn-red" data-toggle="modal" role="button">подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>