<section id="services" class="section landing-service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Услуги</h2>
                <article class="landing-service_main">
                    <p class="title-row">Digital -трансформация</p>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="landing-service_slogan">Digital-трансформация компании - это комплекс мероприятий, включающих в себя описание, внедрение и сопровождение необходимых технических решений, направленных на:</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="border-list no-margin">
                                <li>Повышение продуктивности бизнес-процессов компании;</li>
                                <li>Улучшение управляемости, прозрачности процессов за счет создания ИТ инфраструктуры;</li>
                                <li>Оптимизацию затрат на обновление информационных технологий; </li>
                                <li>Усиление защиты данных и оптимизация затрат на обслуживание систем безопасности;</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="border-list no-margin">
                                <li>Поднятие продуктивности работы штатных специалистов компании;</li>
                                <li>Организацию эффективного управления ИТ-процессами;</li>
                                <li>Разработку решений, направленных на обеспечение непрерывности бизнес- процессов заказчика.</li>
                            </ul>
                        </div>
                        <div class="col-lg-9">
                            <div class="landing-service_text">
                                <p>Все решения внедряются поэтапно, основываясь на показателях, полученных в результате оценки объема и эффективности инвестиций в ИТ-потребности организации, определения эффективности работы уже установленного программного обеспечения и информации о возможностях его модернизации, анализа соответствия действующих на предприятии систем специфике бизнеса; исследования состояния системы управления информационной безопасностью и политики безопасности, эффективности каналов коммуникаций предприятия.</p>
                                <p class="bordered">Проект предусматривает полный цикл внедрения необходимых ИТ-систем, помощь в определении с выбором решений, максимально соответствующих задачам предприятия, и поиске вариантов для повышения их эффективности, а также разработку рекомендаций согласно различным стандартам.</p>
                            </div>
                            Каждому этапу цикла соответствует индивидуальный комплекс решений:
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>