<section class="landing-reviews">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">&nbsp;</div>
            <div class="col-lg-8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    -- The slideshow --
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <article class="landing-reviews_one">
                                <figure class="author-pic"><img src="assets/img/pic-t4.jpg"></figure>
                                <div class="landing-reviews_text">Наше сотрудничество с этой командой началось задолго до того, как HUSPI был официально запущен, теперь мы являемся партнером в области WEB Design. Их работа основана на принципах честности и честности.</div>
                                <div class="landing-reviews_author">
                                    <span class="name">Авраменко<br>Вячеслав</span>
                                    <span class="job">CEO of United Tobaco</span>
                                </div>
                            </article>
                        </div>
                        <div class="carousel-item">
                            <article class="landing-reviews_one">
                                <figure class="author-pic"><img src="assets/img/pic-t2.jpg"></figure>
                                <div class="landing-reviews_text">Наше сотрудничество с этой командой началось задолго до того, как HUSPI был официально запущен, теперь мы являемся партнером в области WEB Design. Их работа основана на принципах честности и честности.</div>
                                <div class="landing-reviews_author">
                                    <span class="name">Авраменко<br>Вячеслав</span>
                                    <span class="job">CEO of United Tobaco</span>
                                </div>
                            </article>
                        </div>
                        <div class="carousel-item">
                            <article class="landing-reviews_one">
                                <figure class="author-pic"><img src="assets/img/pic-t3.jpg"></figure>
                                <div class="landing-reviews_text">Наше сотрудничество с этой командой началось задолго до того, как HUSPI был официально запущен, теперь мы являемся партнером в области WEB Design. Их работа основана на принципах честности и честности.</div>
                                <div class="landing-reviews_author">
                                    <span class="name">Авраменко<br>Вячеслав</span>
                                    <span class="job">CEO of United Tobaco</span>
                                </div>
                            </article>
                        </div>
                    </div>

                    -- Indicators --
                    <ul class="carousel-indicators color-pin">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>